<script src="/editmatchform.js"></script>
                       </select>
                       <h1>Match Information</h1>
                       Date: 	<input type="text" name="Datetime" id="Datetime" value="<%= match[0][0].Datetime %>" /><br />
                       Map: 	<input type="text" name="Map" id="Map" value="<%= match[0][0].Map %>" /><br />
                       <h1><%= match[0][0].P1Name %>'s Information</h1>
                       Score: 	<input type="text" name="P1Score" id="Score1" value="<%= match[0][0].P1Score %>" /><br />
                       Kills: 	<input type="text" name="P1Kills" id="Kills1" value="<%= match[0][0].P1Kills %>" /><br />
                       Deaths: 	<input type="text" name="P1Deaths" id="Deaths1" value="<%= match[0][0].P1Deaths %>" /><br />
                       Suicides: 	<input type="text" name="P1Suicides" id="Suicides1" value="<%= match[0][0].P1Suicides %>" /><br />
                       Net: 	<input type="text" name="P1Net" id="Net1" value="<%= match[0][0].P1Net %>" /><br />
                       DamageGiven: 	<input type="text" name="P1DamageGiven" id="DamageGiven1" value="<%= match[0][0].P1DamageGiven %>" /><br />
                       DamageTaken: 	<input type="text" name="P1DamageTaken" id="DamageTaken1" value="<%= match[0][0].P1DamageTaken %>" /><br />
                       Captures: 	<input type="text" name="P1Captures" id="Captures1" value="<%= match[0][0].P1Captures %>" /><br />
                       Assists: 	<input type="text" name="P1Assists" id="Assists1" value="<%= match[0][0].P1Assists %>" /><br />
                       Defense: 	<input type="text" name="P1Defense" id="Defense1" value="<%= match[0][0].P1Defense %>" /><br />
                       Returns: 	<input type="text" name="P1Returns" id="Returns1" value="<%= match[0][0].P1Returns %>" /><br />
                       HealthTotal: 	<input type="text" name="P1HealthTotal" id="HealthTotal1" value="<%= match[0][0].P1HealthTotal %>" /><br />
                       ArmorTotal: 	<input type="text" name="P1ArmorTotal" id="ArmorTotal1" value="<%= match[0][0].P1ArmorTotal %>" /><br />
                       MHPickups: 	<input type="text" name="P1MHPickups" id="MHPickups1" value="<%= match[0][0].P1MHPickups %>" /><br />
                       RAPickups: 	<input type="text" name="P1RAPickups" id="RAPickups1" value="<%= match[0][0].P1RAPickups %>" /><br />
                       YAPickups: 	<input type="text" name="P1YAPickups" id="YAPickups1" value="<%= match[0][0].P1YAPickups %>" /><br />
                       GAPickups: 	<input type="text" name="P1GAPickups" id="GAPickups1" value="<%= match[0][0].P1GAPickups %>" /><br />
                       QuadPickups: 	<input type="text" name="P1QuadPickups" id="QuadPickups1" value="<%= match[0][0].P1QuadPickups %>" /><br />
                       BSPickups: 	<input type="text" name="P1BSPickups" id="BSPickups1" value="<%= match[0][0].P1BSPickups %>" /><br />
                       InvisPickups: 	<input type="text" name="P1InvisPickups" id="InvisPickups1" value="<%= match[0][0].P1InvisPickups %>" /><br />
                       FlightPickups: 	<input type="text" name="P1FlightPickups" id="FlightPickups1" value="<%= match[0][0].P1FlightPickups %>" /><br />
                       RegenPickups: 	<input type="text" name="P1RegenPickups" id="RegenPickups1" value="<%= match[0][0].P1RegenPickups %>" /><br />
                       FlagGrabs: 	<input type="text" name="P1FlagGrabs" id="FlagGrabs1" value="<%= match[0][0].P1FlagGrabs %>" /><br />
                       QuadTime: 	<input type="text" name="P1QuadTime" id="QuadTime1" value="<%= match[0][0].P1QuadTime %>" /><br />
                       BSTime: 	<input type="text" name="P1BSTime" id="BSTime1" value="<%= match[0][0].P1BSTime %>" /><br />
                       InvisTime: 	<input type="text" name="P1InvisTime" id="InvisTime1" value="<%= match[0][0].P1InvisTime %>" /><br />
                       FlightTime: 	<input type="text" name="P1FlightTime" id="FlightTime1" value="<%= match[0][0].P1FlightTime %>" /><br />
                       RegenTime: 	<input type="text" name="P1RegenTime" id="RegenTime1" value="<%= match[0][0].P1RegenTime %>" /><br />
                       FlagTime: 	<input type="text" name="P1FlagTime" id="FlagTime1" value="<%= match[0][0].P1FlagTime %>" /><br />
                       GKills: 	<input type="text" name="P1GKills" id="GKills1" value="<%= match[0][0].P1GKills %>" /><br />
                       MGKills: 	<input type="text" name="P1MGKills" id="MGKills1" value="<%= match[0][0].P1MGKills %>" /><br />
                       MGShots: 	<input type="text" name="P1MGShots" id="MGShots1" value="<%= match[0][0].P1MGShots %>" /><br />
                       MGHits: 	<input type="text" name="P1MGHits" id="MGHits1" value="<%= match[0][0].P1MGHits %>" /><br />
                       SGKills: 	<input type="text" name="P1SGKills" id="SGKills1" value="<%= match[0][0].P1SGKills %>" /><br />
                       SGShots: 	<input type="text" name="P1SGShots" id="SGShots1" value="<%= match[0][0].P1SGShots %>" /><br />
                       SGHits: 	<input type="text" name="P1SGHits" id="SGHits1" value="<%= match[0][0].P1SGHits %>" /><br />
                       PGKills: 	<input type="text" name="P1PGKills" id="PGKills1" value="<%= match[0][0].P1PGKills %>" /><br />
                       PGShots: 	<input type="text" name="P1PGShots" id="PGShots1" value="<%= match[0][0].P1PGShots %>" /><br />
                       PGHits: 	<input type="text" name="P1PGHits" id="PGHits1" value="<%= match[0][0].P1PGHits %>" /><br />
                       RLKills: 	<input type="text" name="P1RLKills" id="RLKills1" value="<%= match[0][0].P1RLKills %>" /><br />
                       RLShots: 	<input type="text" name="P1RLShots" id="RLShots1" value="<%= match[0][0].P1RLShots %>" /><br />
                       RLHits: 	<input type="text" name="P1RLHits" id="RLHits1" value="<%= match[0][0].P1RLHits %>" /><br />
                       LGKills: 	<input type="text" name="P1LGKills" id="LGKills1" value="<%= match[0][0].P1LGKills %>" /><br />
                       LGShots: 	<input type="text" name="P1LGShots" id="LGShots1" value="<%= match[0][0].P1LGShots %>" /><br />
                       LGHits: 	<input type="text" name="P1LGHits" id="LGHits1" value="<%= match[0][0].P1LGHits %>" /><br />
                       RGKills: 	<input type="text" name="P1RGKills" id="RGKills1" value="<%= match[0][0].P1RGKills %>" /><br />
                       RGShots: 	<input type="text" name="P1RGShots" id="RGShots1" value="<%= match[0][0].P1RGShots %>" /><br />
                       RGHits: 	<input type="text" name="P1RGHits" id="RGHits1" value="<%= match[0][0].P1RGHits %>" /><br />
                       BFGKills: 	<input type="text" name="P1BFGKills" id="BFGKills1" value="<%= match[0][0].P1BFGKills %>" /><br />
                       BFGShots: 	<input type="text" name="P1BFGShots" id="BFGShots1" value="<%= match[0][0].P1BFGShots %>" /><br />
                       BFGHits: 	<input type="text" name="P1BFGHits" id="BFGHits1" value="<%= match[0][0].P1BFGHits %>" /><br />
                       GLKills: 	<input type="text" name="P1GLKills" id="GLKills1" value="<%= match[0][0].P1GLKills %>" /><br />
                       GLShots: 	<input type="text" name="P1GLShots" id="GLShots1" value="<%= match[0][0].P1GLShots %>" /><br />
                       GLHits: 	<input type="text" name="P1GLHits" id="GLHits1" value="<%= match[0][0].P1GLHits %>" /><br />
                       TFKills: 	<input type="text" name="P1TFKills" id="TFKills1" value="<%= match[0][0].P1TFKills %>" /><br />
                       <h1><%= match[0][0].P2Name %>'s Information</h1>
                       Score: 	<input type="text" name="P2Score" id="Score2" value="<%= match[0][0].P2Score %>" /><br />
                       Kills: 	<input type="text" name="P2Kills" id="Kills2" value="<%= match[0][0].P2Kills %>" /><br />
                       Deaths: 	<input type="text" name="P2Deaths" id="Deaths2" value="<%= match[0][0].P2Deaths %>" /><br />
                       Suicides: 	<input type="text" name="P2Suicides" id="Suicides2" value="<%= match[0][0].P2Suicides %>" /><br />
                       Net: 	<input type="text" name="P2Net" id="Net2" value="<%= match[0][0].P2Net %>" /><br />
                       DamageGiven: 	<input type="text" name="P2DamageGiven" id="DamageGiven2" value="<%= match[0][0].P2DamageGiven %>" /><br />
                       DamageTaken: 	<input type="text" name="P2DamageTaken" id="DamageTaken2" value="<%= match[0][0].P2DamageTaken %>" /><br />
                       Captures: 	<input type="text" name="P2Captures" id="Captures2" value="<%= match[0][0].P2Captures %>" /><br />
                       Assists: 	<input type="text" name="P2Assists" id="Assists2" value="<%= match[0][0].P2Assists %>" /><br />
                       Defense: 	<input type="text" name="P2Defense" id="Defense2" value="<%= match[0][0].P2Defense %>" /><br />
                       Returns: 	<input type="text" name="P2Returns" id="Returns2" value="<%= match[0][0].P2Returns %>" /><br />
                       HealthTotal: 	<input type="text" name="P2HealthTotal" id="HealthTotal2" value="<%= match[0][0].P2HealthTotal %>" /><br />
                       ArmorTotal: 	<input type="text" name="P2ArmorTotal" id="ArmorTotal2" value="<%= match[0][0].P2ArmorTotal %>" /><br />
                       MHPickups: 	<input type="text" name="P2MHPickups" id="MHPickups2" value="<%= match[0][0].P2MHPickups %>" /><br />
                       RAPickups: 	<input type="text" name="P2RAPickups" id="RAPickups2" value="<%= match[0][0].P2RAPickups %>" /><br />
                       YAPickups: 	<input type="text" name="P2YAPickups" id="YAPickups2" value="<%= match[0][0].P2YAPickups %>" /><br />
                       GAPickups: 	<input type="text" name="P2GAPickups" id="GAPickups2" value="<%= match[0][0].P2GAPickups %>" /><br />
                       QuadPickups: 	<input type="text" name="P2QuadPickups" id="QuadPickups2" value="<%= match[0][0].P2QuadPickups %>" /><br />
                       BSPickups: 	<input type="text" name="P2BSPickups" id="BSPickups2" value="<%= match[0][0].P2BSPickups %>" /><br />
                       InvisPickups: 	<input type="text" name="P2InvisPickups" id="InvisPickups2" value="<%= match[0][0].P2InvisPickups %>" /><br />
                       FlightPickups: 	<input type="text" name="P2FlightPickups" id="FlightPickups2" value="<%= match[0][0].P2FlightPickups %>" /><br />
                       RegenPickups: 	<input type="text" name="P2RegenPickups" id="RegenPickups2" value="<%= match[0][0].P2RegenPickups %>" /><br />
                       FlagGrabs: 	<input type="text" name="P2FlagGrabs" id="FlagGrabs2" value="<%= match[0][0].P2FlagGrabs %>" /><br />
                       QuadTime: 	<input type="text" name="P2QuadTime" id="QuadTime2" value="<%= match[0][0].P2QuadTime %>" /><br />
                       BSTime: 	<input type="text" name="P2BSTime" id="BSTime2" value="<%= match[0][0].P2BSTime %>" /><br />
                       InvisTime: 	<input type="text" name="P2InvisTime" id="InvisTime2" value="<%= match[0][0].P2InvisTime %>" /><br />
                       FlightTime: 	<input type="text" name="P2FlightTime" id="FlightTime2" value="<%= match[0][0].P2FlightTime %>" /><br />
                       RegenTime: 	<input type="text" name="P2RegenTime" id="RegenTime2" value="<%= match[0][0].P2RegenTime %>" /><br />
                       FlagTime: 	<input type="text" name="P2FlagTime" id="FlagTime2" value="<%= match[0][0].P2FlagTime %>" /><br />
                       GKills: 	<input type="text" name="P2GKills" id="GKills2" value="<%= match[0][0].P2GKills %>" /><br />
                       MGKills: 	<input type="text" name="P2MGKills" id="MGKills2" value="<%= match[0][0].P2MGKills %>" /><br />
                       MGShots: 	<input type="text" name="P2MGShots" id="MGShots2" value="<%= match[0][0].P2MGShots %>" /><br />
                       MGHits: 	<input type="text" name="P2MGHits" id="MGHits2" value="<%= match[0][0].P2MGHits %>" /><br />
                       SGKills: 	<input type="text" name="P2SGKills" id="SGKills2" value="<%= match[0][0].P2SGKills %>" /><br />
                       SGShots: 	<input type="text" name="P2SGShots" id="SGShots2" value="<%= match[0][0].P2SGShots %>" /><br />
                       SGHits: 	<input type="text" name="P2SGHits" id="SGHits2" value="<%= match[0][0].P2SGHits %>" /><br />
                       PGKills: 	<input type="text" name="P2PGKills" id="PGKills2" value="<%= match[0][0].P2PGKills %>" /><br />
                       PGShots: 	<input type="text" name="P2PGShots" id="PGShots2" value="<%= match[0][0].P2PGShots %>" /><br />
                       PGHits: 	<input type="text" name="P2PGHits" id="PGHits2" value="<%= match[0][0].P2PGHits %>" /><br />
                       RLKills: 	<input type="text" name="P2RLKills" id="RLKills2" value="<%= match[0][0].P2RLKills %>" /><br />
                       RLShots: 	<input type="text" name="P2RLShots" id="RLShots2" value="<%= match[0][0].P2RLShots %>" /><br />
                       RLHits: 	<input type="text" name="P2RLHits" id="RLHits2" value="<%= match[0][0].P2RLHits %>" /><br />
                       LGKills: 	<input type="text" name="P2LGKills" id="LGKills2" value="<%= match[0][0].P2LGKills %>" /><br />
                       LGShots: 	<input type="text" name="P2LGShots" id="LGShots2" value="<%= match[0][0].P2LGShots %>" /><br />
                       LGHits: 	<input type="text" name="P2LGHits" id="LGHits2" value="<%= match[0][0].P2LGHits %>" /><br />
                       RGKills: 	<input type="text" name="P2RGKills" id="RGKills2" value="<%= match[0][0].P2RGKills %>" /><br />
                       RGShots: 	<input type="text" name="P2RGShots" id="RGShots2" value="<%= match[0][0].P2RGShots %>" /><br />
                       RGHits: 	<input type="text" name="P2RGHits" id="RGHits2" value="<%= match[0][0].P2RGHits %>" /><br />
                       BFGKills: 	<input type="text" name="P2BFGKills" id="BFGKills2" value="<%= match[0][0].P2BFGKills %>" /><br />
                       BFGShots: 	<input type="text" name="P2BFGShots" id="BFGShots2" value="<%= match[0][0].P2BFGShots %>" /><br />
                       BFGHits: 	<input type="text" name="P2BFGHits" id="BFGHits2" value="<%= match[0][0].P2BFGHits %>" /><br />
                       GLKills: 	<input type="text" name="P2GLKills" id="GLKills2" value="<%= match[0][0].P2GLKills %>" /><br />
                       GLShots: 	<input type="text" name="P2GLShots" id="GLShots2" value="<%= match[0][0].P2GLShots %>" /><br />
                       GLHits: 	<input type="text" name="P2GLHits" id="GLHits2" value="<%= match[0][0].P2GLHits %>" /><br />
                       TFKills: 	<input type="text" name="P2TFKills" id="TFKills2" value="<%= match[0][0].P2TFKills %>" /><br />
                       <input type="hidden" name="MatchID" id="MatchID" value="<%= match[0][0].MatchID %>" />
                       <input type="hidden" name="P1Name" id="P1Name" value="<%= match[0][0].P1Name %>" />
                       <input type="hidden" name="P2Name" id="P2Name" value="<%= match[0][0].P2Name %>" />
                       <a class="btn btn-info" id="btnEditMatchForm" role="button">Edit Match</a>
                       </form>